#successMessage {
  background-color: $secondary;
  color: $black;
  display: none;
}

.invalid-feedback {
  min-height: 20px;
  display: none;
}

#generalErrorContainer,
#registerErrorContainer,
#createErrorContainer,
#bidErrorContainer {
  display: none;
}
