h1,
h2,
h3,
.navbar-brand {
  font-family: 'playfair display', Georgia;
}

body,
.nav-link,
.navbar form,
p,
span,
button {
  font-family: 'lato', sans-serif, Helvetica;
}

.navbar a,
span {
  font-weight: 600;
}
