h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: 'playfair display', serif;
}

body,
.nav-link,
.navbar form,
p,
a,
input,
span,
button {
  font-family: 'lato', sans-serif;
}

footer a {
  color: $black;
}

.navbar .nav-item a {
  font-weight: 400;
  display: block;
  font-size: 1rem;
  font-weight: 400; // Lighter font weight for non-active links
  color: black; // Set the color to black
  text-decoration: none;
  background: none;
  border: 0;
  &:hover {
    background-color: $secondary;
  }
}

.navbar .nav-item .active {
  font-weight: 700; // Heavier font weight for active links
}

.listing-pills-h2 {
  font-size: 1.2rem;
}
