@import 'variables/variables';

@import 'components/buttons';

@import 'fonts/fonts';

@import 'components/icons';

@import 'components/messages';

@import 'layout/images';

@import 'components/tags';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.navbar-brand {
  color: $primary;
}

.card {
  border: none;
}

.show-when-logged-in,
.show-when-logged-out {
  display: none;
}
